<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.crowdfunding.cpes.dao.CertImgMapper">
  <select id="getTotalCount" resultType="int">
    select count(*) from t_cert_img
  </select>
	<select id="getAllPaged" resultType="certImg">
	  select * from t_cert_img 
	  limit #{start},#{pageSize}
	</select>
	<insert id="insert">
	  insert into t_cert_img (name) values (#{name})
	</insert>
	
	<select id="getCertImg" resultType="certImg">
	  select * from t_cert_img where id = #{certId}
	</select>
	<update id="update">
	  update t_cert_img set name = #{name} where id = #{id}
	</update>
	<delete id="delete">
	   delete from t_cert_img 
	   where id in(
	     <foreach collection="ids" item="cid" separator=","> #{cid} </foreach>
	   )
	</delete>
	<select id="getAll" resultType="certImg">
	   select * from t_cert_img
	</select>
	
	<!-- 账户类型的资质分配 -->
	<insert id="insertCertAccRelation">
	   insert into t_acc_cert_img 
	   (ciid,acctype)   values  
	   (#{ciid},#{acctype})
	</insert>
	<delete id="deleteCertAccRelation">
	     delete from t_acc_cert_img
	     where acctype = #{acctype} and ciid = #{ciid}
	</delete>
	<!--  -->
	<select id="getAsignedCerts" resultType="certAcc">
	 select * from t_acc_cert_img
	</select>
</mapper>