<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.crowdfunding.cpes.dao.RoleMapper">

	<select id="selectTotalCounts" resultType="int">
		select count(*) from
		t_role
	</select>
	<select id="getAllPaged" resultType="role">
		select * from t_role
		limit
		#{start},#{pageSize}
	</select>

	<select id="getById" resultType="role">
		select * from t_role
		where id =
		#{id}
	</select>

	<update id="update">
		update t_role r
		set r.name = #{name}
		where id = #{id}
	</update>

	<insert id="insert">
		insert into t_role (name) values (#{name})
	</insert>
	<delete id="delete">
		delete from t_role
		where id in
		<foreach collection="roles" item="role" open="(" close=")"
			separator=","> #{role.id} </foreach>
	</delete>
	<!-- 删除旧的关系:只需要根据roleid即可 -->
	<delete id="deleteRolePermissionRelation">
		delete from t_role_permission
		where roleid = #{roleid}
	</delete>

	<insert id="insertRolePermissionRelation">
		<foreach collection="datas.ids" item="id" separator=";">
			insert
			into t_role_permission
			(roleid, permissionid)
			values
			(#{roleid},#{id})
		</foreach>
	</insert>
	<select id="getAll" resultType="role">
		select * from t_role
	</select>

	<select id="getAsginedRoles" resultType="int">
		SELECT roleid FROM t_user_role
		WHERE userid = #{userid}
	</select>

</mapper>
